.eb-tabs {
    font-size: 15px;
    padding-bottom: 10px;
}

.wmmedia__list__select .js-form-type-checkbox {
    display:  none;
}

.wmmedia__filters {
    display: flex;
    flex-wrap: wrap;
}

.wmmedia__filters .form-item {
    display: flex;
    flex-direction: column;
}

.wmmedia__list__select.active {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}
