
.field--widget-media-file {
    padding-bottom: 10px;
}

.entities-list-file .item-container > span.file {
    display: block;
}

.entities-list-file .item-container > input {
    display: inline;
}

.entity-browser-modal.ui-dialog .ui-widget-content.ui-dialog-content {
    overflow: inherit;
}
