.media-action {
    display: block;

    font-size: .9rem;
    line-height: 1;

    &:focus,
    &:hover,
    &:active {
        text-decoration: underline;
    }

    &::before {
        color: white;
        margin-right: .5rem;
    }

    &--pull-right {
        margin-left: auto;
    }

    &--controls {
        font-size: 2rem;
        cursor: pointer;
        margin-top: 1.2rem;
    }

    a,
    button {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}
