.wmmedia__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -20px -20px 0;
    padding-bottom: 30px;
}

.wmmedia__list__select {
    cursor: pointer;
    position: relative;

    .imgix-image .caption,
    .form-item-view-media1-checkbox {
        margin: 0;
    }

    .imgix-image {
        height: 150px;
        width: 150px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, .2);
    }

    &,
    &:last-child {
        margin: 0 20px 20px 0;
    }

    > p {
        margin: 0;

        &:first-of-type {
            width: 150px;
            margin-top: 7px;

            font-weight: 600;
            word-break: break-all;
        }

        &:last-of-type {
            font-weight: 500;
            font-size: .8rem;
        }
    }

    .form-type--checkbox,
    .form-type-checkbox {
        margin: 0;

        position: absolute !important;
        top: 110px; right: 10px;
    }
}
