
.wmmedia__filters {
    display: flex;
    align-items: flex-end;
    margin: 0 0 30px 0;

    > .form-item {
        margin: 0 15px 0 0;
    }

    > .form-submit {
        margin: 0 10px 0 0;
    }

    .form-item-upload .form-file {
        background: none;
        padding: 0;
        margin-bottom: 20px;
    }
}
